<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="fac.css" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $(".toggle").on("click", function () {
          if ($(".item").hasClass("active")) {
            $(".item").removeClass("active");
          } else {
            $(".item").addClass("active");
          }
        });
      });
    </script>
  </head>

  <body>
    <nav>
      <ul class="menu">
        <li class="logo"><a href="#">FINDBUKKA</a></li>
        <li class="item"><a href="#">Home</a></li>
        <li class="item"><a href="#">About</a></li>
        <li class="item"><a href="#">Contact</a></li>
        <li class="item button"><a href="#">Sign Up</a></li>
        <li class="item button secondary"><a href="#">Sign In</a></li>
        <li class="toggle"><span class="hamburger"></span></li>
      </ul>
    </nav>
  </body>
</html>
