<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="FlexCards.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>CSS Cards</title>
  </head>

  <body>
    <section class="card-block">
      <section class="card-container">
        <section class="card">
          <img alt="card-img" src="./images/lagos-ng.jpg" />
          <section class="card-text ml-10 mr-10 mt-10 mb-10">
            <h3 class="center mb-10 card-header">Iya Basira Restaurant</h3>
            <p>
              <i class="fa fa-map-marker mr-10" style="color: gray"></i>No 1,
              Signboard bus stop, Addo-Badore Road, Ajah, Lagos.
            </p>
            <p class="mt-10 mb-10">
              <i class="fa fa-cutlery mr-10" style="color: gray"></i>Bukka
            </p>
            <p class="mb-10">
              <i class="fa fa-money color mr-10" style="color: gray"></i>From
              N500
            </p>
            <p class="inline-block mr-10 card-rating">★★★★☆</p>
            <small class="inline-block bold card-rating">8765 reviews</small>
          </section>
          <a class="button block center" href="#">See More Details</a>
        </section>
        <section class="card">
          <img alt="card-img" src="./images/lagos-nigeria.jpg" />
          <section class="card-text ml-10 mr-10 mt-10 mb-10">
            <h3 class="center mb-10 card-header">
              Mallam Musa Suleiman Yaguda Suya Joint
            </h3>
            <p>
              <i class="fa fa-map-marker mr-10" style="color: gray"></i>No 1,
              signboard bus stop, Addo-Badore Road, Ajah, Lagos. No 1, signboard
              bus stop, Addo-Badore Road, Ajah, Lagos.
            </p>
            <p class="mt-10 mb-10">
              <i class="fa fa-cutlery mr-10" style="color: gray"></i>Bukka
            </p>
            <p class="mb-10">
              <i class="fa fa-money color mr-10" style="color: gray"></i>From
              N500
            </p>

            <p class="inline-block mr-10 card-rating">★★★★☆</p>
            <small class="inline-block bold card-rating">8765 reviews</small>
          </section>
          <a class="card-link button block center" href="#">See More Details</a>
        </section>
        <section class="card">
          <img alt="card-img" src="./images/ikeja-lagos.jpg" />
          <section class="card-text ml-10 mr-10 mt-10 mb-10">
            <h3 class="center mb-10 card-header">Iya Basira Restaurant</h3>
            <p>
              <i class="fa fa-map-marker mr-10" style="color: gray"></i>Block D
              Hse 19b Abraham Adesanya Estate, Ajah, Lagos Nigeria
            </p>
            <p class="mt-10 mb-10">
              <i class="fa fa-cutlery mr-10" style="color: gray"></i>Bukka
            </p>
            <p class="mb-10">
              <i class="fa fa-money color mr-10" style="color: gray"></i>From
              N500
            </p>

            <p class="inline-block mr-10 card-rating">★★★★☆</p>
            <small class="inline-block bold card-rating">8765 reviews</small>
          </section>
          <a class="button block center" href="#">See More Details</a>
        </section>
        <section class="card">
          <img alt="card-img" src="./images/enugu.jpg" />
          <section class="card-text ml-10 mr-10 mt-10 mb-10">
            <h3 class="center mb-10 card-header">Iya Basira Restaurant</h3>
            <p>
              <i class="fa fa-map-marker mr-10" style="color: gray"></i>No 1,
              signboard bus stop, Addo-Badore Road, Ajah, Lagos.
            </p>
            <p class="mt-10 mb-10">
              <i class="fa fa-cutlery mr-10" style="color: gray"></i>Bukka
            </p>
            <p class="mb-10">
              <i class="fa fa-money color mr-10" style="color: gray"></i>From
              N500
            </p>

            <p class="inline-block mr-10 card-rating">★★★★☆</p>
            <small class="inline-block bold card-rating">8765 reviews</small>
          </section>
          <a class="button block center" href="#">See More Details</a>
        </section>
        <section class="card">
          <img alt="card-img" src="./images/ikoyi-lagos.jpg" />
          <section class="card-text ml-10 mr-10 mt-10 mb-10">
            <h3 class="center mb-10 card-header">Iya Basira Restaurant</h3>
            <p>
              <i class="fa fa-map-marker mr-10" style="color: gray"></i>No 1,
              signboard bus stop, Addo-Badore Road, Ajah, Lagos.
            </p>
            <p class="mt-10 mb-10">
              <i class="fa fa-cutlery mr-10" style="color: gray"></i>Bukka
            </p>
            <p class="mb-10">
              <i class="fa fa-money color mr-10" style="color: gray"></i>From
              N500
            </p>

            <p class="inline-block mr-10 card-rating">★★★★☆</p>
            <small class="inline-block bold card-rating">8765 reviews</small>
          </section>
          <a class="button block center" href="#">See More Details</a>
        </section>
      </section>
    </section>
  </body>
</html>
