<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="nav-flex.css" />
    <title>Flex Nav</title>

    <body>
      <nav>
        <ul class="nav-item">
          <li class="logo bold"><a href="#">FINDBUKKA</a></li>
          <li class="item"><a href="#">Home</a></li>
          <li class="item"><a href="#">About</a></li>
          <li class="item"><a href="#">Contact</a></li>
          <li class="item"><a href="#">Services</a></li>
          <li class="item"><a href="#">Sign Up</a></li>
          <li class="item"><a href="#">Sign In</a></li>
          <li class="toggle">
            <a href="#"><span class="bars"></span></a>
          </li>
        </ul>
      </nav>
    </body>
  </head>
</html>
