* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bold {
  font-weight: bold;
}

nav {
  background: rgb(180, 58, 58);
  background: linear-gradient(
    90deg,
    rgba(180, 58, 58, 1) 0%,
    rgba(205, 71, 48, 1) 11%,
    rgba(233, 86, 37, 1) 26%,
    rgba(253, 29, 29, 1) 44%,
    rgba(253, 39, 39, 1) 63%,
    rgba(253, 50, 85, 1) 81%,
    rgba(252, 176, 69, 1) 98%
  );
  padding: 10px 0;
  width: 100%;
}

nav ul li {
  list-style: none;
  text-align: center;
  margin: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

nav ul li a:hover {
  color: rgba(255, 255, 255, 0.9);
  font-weight: bolder;
}

.nav-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: flex-start;
}

.logo {
  flex-grow: 1;
}
.item {
  flex-grow: 2;
  justify-items: flex-end;
}

@media all and (max-width: 768px) {
  .nav-item {
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
