* {
  margin: 0;
  box-sizing: border-box;
}

nav {
  background: rgb(180, 58, 58);
  background: linear-gradient(
    90deg,
    rgba(180, 58, 58, 1) 0%,
    rgba(205, 71, 48, 1) 11%,
    rgba(233, 86, 37, 1) 26%,
    rgba(253, 29, 29, 1) 44%,
    rgba(253, 39, 39, 1) 63%,
    rgba(253, 50, 85, 1) 81%,
    rgba(252, 176, 69, 1) 98%
  );
  padding: 10px 0;
  width: 100%;
}

nav ul li {
  list-style: none;
  text-align: center;
  margin: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

nav ul li a:hover {
  color: rgba(255, 255, 255, 0.7);
  font-weight: bolder;
}

@media all and (min-width: 560px) {
  .nav-item {
    display: flex;
    flex-basis: 100%;
    justify-items: flex-end;
  }

  /* .ul-item {
  } */

  .ul-one {
    flex-grow: 1;
    justify-content: flex-start;
  }

  .ul-two {
    display: flex;
    justify-self: flex-end;
  }
}
