* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bold {
  font-weight: bold;
}

nav {
  background: rgb(180, 58, 58);
  background: linear-gradient(
    90deg,
    rgba(180, 58, 58, 1) 0%,
    rgba(205, 71, 48, 1) 11%,
    rgba(233, 86, 37, 1) 26%,
    rgba(253, 29, 29, 1) 44%,
    rgba(253, 39, 39, 1) 63%,
    rgba(253, 50, 85, 1) 81%,
    rgba(252, 176, 69, 1) 98%
  );
  padding: 10px 0;
  width: 100%;
}

nav ul li {
  list-style: none;
  text-align: center;
  margin: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

nav ul li a:hover {
  color: rgba(255, 255, 255, 0.9);
}

.logo {
  font-size: 20px;
}

.button a {
  padding: 7px 15px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.button a:hover {
  font-weight: bold;
  color: #ff0000;
  background: #fff;
  transition: all 0.3s;
}

/* Mobile Menu */
.nav-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  cursor: pointer;
  order: 1;
}

.item.button {
  order: 2;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

.hamburger {
  display: inline-block;
  width: 25px;
  height: 2px;
  background: #fff;
  position: relative;
}

.hamburger::before,
.hamburger::after {
  background: #fff;
  content: "";
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 2px;
}

.hamburger::before {
  top: 7px;
  right: 0px;
}

.hamburger::after {
  top: -7px;
  right: 0px;
}

/* Tablet Menu */
@media all and (min-width: 468px) {
  .nav-item {
    justify-content: center;
  }

  .logo {
    flex: 1;
    text-align: start;
    margin-left: 50px;
  }

  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    order: 2;
    padding: 0 20px;
  }

  .button.secondary {
    border: none;
  }
}

/* Desktop Menu */
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
    order: 1;
  }

  .toggle {
    display: none;
  }

  .logo {
    order: 0;
  }

  .button {
    order: 2;
  }

  .nav-item li.button {
    padding-right: 20px;
  }
}

@media all and (min-width: 840px) {
}
