<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="nav.css" />
    <title>Nav</title>

    <body>
      <nav>
        <ul class="ul-one left">
          <li><a href="#" class="nav-one">FOODBUKKA</a></li>
        </ul>

        <ul class="ul-two right">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Sign In</a></li>
        </ul>

        <ul class="clear"></ul>
      </nav>
    </body>
  </head>
</html>
