/* Generic styles */
html,
body {
  margin: 0;
  padding: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.center {
  text-align: center !important;
}

.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

.inline {
  display: inline !important;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.mt-25 {
  margin-top: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.xtreme-bold {
  font-size: 1.5rem;
  font-weight: 900;
}

.xtreme-bold-2 {
  font-size: 2.5rem;
  font-weight: 900;
}

.mr-25 {
  margin-right: 25px;
}

.no-outline {
  outline: none;
}

.small,
small {
  font-size: 80%;
  font-weight: 700;
}

/* Nav, Navbar */
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255);
  font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 900;
}

.bg-danger {
  background: rgb(180, 58, 58);
  background: linear-gradient(
    90deg,
    rgba(180, 58, 58, 1) 0%,
    rgba(205, 71, 48, 1) 11%,
    rgba(233, 86, 37, 1) 26%,
    rgba(253, 29, 29, 1) 44%,
    rgba(253, 39, 39, 1) 63%,
    rgba(253, 50, 85, 1) 81%,
    rgba(252, 176, 69, 1) 98%
  );
}

/* Responsive Media Queries */
@media screen and (min-width: 650px) {
  .navbar-brand {
    margin-right: 250px;
  }

  .mr-25 {
    margin-right: 0;
  }

  .ml-50 {
    margin-left: 0;
  }
}

@media screen and (min-width: 1000px) {
  .navbar-brand {
    margin-right: 200px;
  }

  .mr-25 {
    margin-right: 12px;
  }

  .ml-50 {
    margin-left: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .navbar-brand {
    margin-right: 850px;
  }

  .mr-25 {
    margin-right: 12px;
  }

  .ml-50 {
    margin-left: 50px;
  }
}

/* Header */

.btn-outline-light {
  font-weight: bold;
}

.btn-outline-light:hover {
  color: #dc3545;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  font-weight: bold;
}

.header {
  width: 100%;
  height: 305px;
  background-image: url("../images/african-restaurant.jpg");
  background-attachment: fixed;
}

.home-header {
  background-image: url("../images/home-background.jpg");
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

.search-section {
  display: block;
  text-align: center;
  padding-top: 35vh;
}

.header-search {
  width: 500px;
  height: 55px;
  outline: none;
  border-radius: 10px;
  margin-right: 50px;
}

.btn-outline-light {
  font-weight: bold;
}

.btn-outline-light:hover {
  color: #dc3545;
  background-color: #f8f9fa;
  border: none;
  font-weight: bold;
}

/* Card Styles */

.card-container {
  display: block;
  width: auto;
  height: auto;
}

.card-img,
.card-img-top {
  height: 200px;
}

.bukka-card {
  display: inline-block;
  margin: 1%;
  margin-left: 2%;
  margin-right: 1%;
  width: 22%;
  height: auto;
}

.card-btn {
  margin-left: 36%;
  /* margin-top: 90%; */
}

.bukka-details {
  width: 90%;
  margin: 10px auto;
}

.restaurant-list-details {
  list-style-type: none;
}

/* Restaurant Area styles */

.area-section {
  display: inline-block !important;
  width: 31%;
  height: auto;
  margin: 0 1%;
}

.area-home {
  width: 100%;
  height: auto;
  padding-left: 2%;
}

.area-section-details {
  /* position: relative; */
  /* bottom: 130px; */
  margin-top: -130px;
  padding-bottom: 80px;
  text-align: center;
  color: #ffffff;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.area-section-img {
  width: 95%;
  height: 200px;
  border-radius: 5px;
}

/* Footer styles */

.footer {
  width: 100%;
  height: auto;
  color: #ffffff;
  background-color: #000000;
}

.footer-text {
  display: inline-block;
  margin: 50px auto;
}

/* Bukka Page Styles */

.left-bukka {
  width: 650px;
  height: auto;
  padding: 0 auto;
}

.right-bukka {
  width: 700px;
}

.bottom-bukka {
  width: auto;
  height: auto;
}

.jumbotron {
  margin-bottom: 0;
}
