* {
  margin: 0;
}
.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.bold {
  font-weight: 900;
}

/* Margin and padding styles */
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}

.ml-25 {
  margin-left: 25px;
}
.mr-25 {
  margin-right: 25px;
}
.mt-25 {
  margin-top: 25px;
}
.mb-25 {
  margin-bottom: 25px;
}
.ml-50 {
  margin-left: 50px;
}
.mr-50 {
  margin-right: 50px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-50 {
  margin-bottom: 50px;
}

.red {
  color: #ff0000;
}

/* Card Styles */

/* .card-block {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: #efefef;
} */
.card-container {
  display: flex;
  margin: auto;
  height: auto;
  flex-basis: 300px;
  flex-wrap: wrap;
  justify-content: center;
}

.card-link {
  flex-grow: 1;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px 5px;
  background: #ffffff;
  width: 300px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.card:hover {
  transform: scale(0.975);
}
.card img {
  width: 300px;
  height: 175px;
  border-radius: 5px;
}

.card-header {
  color: #333333;
}

.card-rating {
  color: gray;
}

.card-button {
  color: #fff;
  background: #ff5100;
  padding: 7px 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: large;
  font-weight: bolder;
  outline: none;
}

.card-button:hover {
  font-weight: bold;
  color: #ff5100;
  background: #fff;
  /* transition: all 0.5s; */
  border: 1px solid #ff5100;
}

.card-text {
  flex-grow: 1;
}
