/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  background: rgb(180, 58, 58);
  background: linear-gradient(
    90deg,
    rgba(180, 58, 58, 1) 0%,
    rgba(205, 71, 48, 1) 11%,
    rgba(233, 86, 37, 1) 26%,
    rgba(253, 29, 29, 1) 44%,
    rgba(253, 39, 39, 1) 63%,
    rgba(253, 50, 85, 1) 81%,
    rgba(252, 176, 69, 1) 98%
  );
  padding: 5px 20px;
}
ul {
  list-style-type: none;
}
a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255, 1);
}

.logo a:hover {
  text-decoration: none;
}
.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}
.logo a,
.toggle a {
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
}

.logo a {
  font-size: 1.5rem;
}
.nav-button.nav-nav-secondary {
  border-bottom: 1px #fff solid;
}

.nav-button a {
  padding: 7px 15px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.nav-button a:hover {
  font-weight: bold;
  color: #ff0000;
  background: #fff;
  transition: all 0.3s;
}

.item {
  font-weight: bold;
}

.toggle {
  align-self: center;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  order: 1;
}
.item.nav-button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}

/* Navbar Toggle */
.toggle {
  cursor: pointer;
}
.hamburger {
  background: #fff;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 25px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.hamburger:before,
.hamburger:after {
  background: #fff;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 25px;
}
.hamburger:before {
  top: 5px;
}
.hamburger:after {
  top: -5px;
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .item.nav-button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    order: 2;
    align-self: center;
  }
  .nav-button.nav-nav-secondary {
    border: 0;
  }
}

/* Desktop menu */
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    order: 0;
    margin-left: 50px;
  }
  .item {
    order: 1;
  }
  .nav-button {
    order: 2;
  }

  .nav-button.nav-nav-secondary {
    margin-right: 50px;
  }

  .menu li {
    padding: 15px 10px;
  }
  .menu li.nav-button {
    padding-right: 0;
  }
}
